* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

body {padding: 10px;}

#products {
    display: flex;
    flex-wrap: wrap;
  }

#products > div {
    width: 120px;
    height: 50px;
    border: 1px solid #444;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 5px;
    cursor: pointer;
  }

#products > div > h2 {
    font-size: 18px;
  }
  
#products > div > p {
    color: #444;
  }
  
#products > div:hover { background: orange;}

.calc {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
  }

  .calc > div {
    flex-basis: 33%;
    padding: 8px;
    border: 2px solid royalblue;
    display: inline-flex;
    align-items: baseline;
    justify-content: space-between;
  }

  .calc > div > span {font-size: 24px }

  button {
    background-color: teal;
    padding: 0.5em 2em;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
  }

  button:hover {
      background-color: gainsboro;
  }

#product-weight::after { content: 'кг'}
#price-per-kg::after { content: '₴/кг'}
#total-price::after { content: '₴'}